<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="NonProfit Charity HTML Template">
    <meta name="author" content="ThemeEster">

    <title>Charitian | NonProfit Charity HTML Template</title>

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/elegant-line-icons.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/charitian-icons.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/slick.min.css">
    <link rel="stylesheet" href="assets/css/slider.css">
    <link rel="stylesheet" href="assets/css/venobox/venobox.css">
    <link rel="stylesheet" href="assets/css/odometer.min.css">
    <link rel="stylesheet" href="assets/css/main.css">

    <script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body class="header-1">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="site-preloader-wrap">
        <div class="spinner"></div>
    </div><!-- /.site-preloader-wrap -->

    <header class="header header-one">
        <div class="top-header-one top-bar">
            <div class="container">
                <div class="top-bar-inner">
                    <div class="top-left">
                        <ul>
                            <li>Call us Today: <a href="tel:+1234567890">+123 456 7890</a></li>
                            <li>Email: <a href="mailto:contact@email.com">email@eample.com</a></li>
                        </ul>
                    </div>
                    <div class="top-right">
                        <ul class="top-social">
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-pinterest"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- /.top-bar -->
        <div class="primary-header-one primary-header">
            <div class="container">
                <div class="primary-header-inner">
                    <div class="header-logo">
                        <a href="index.html">
                            <img src="assets/img/logo-dark.png" alt="Logo" />
                        </a>
                    </div><!-- /.header-logo -->
                    <div class="header-menu-wrap">
                        <ul class="dl-menu">
                            <li><a href="index.html">Home</a>
                                <ul>
                                    <li><a href="index.html">Home Default</a></li>
                                    <li><a href="index-2.html">Homep Fundraising</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html">About</a>
                                <ul>
                                    <li><a href="about.html">Who We Are</a></li>
                                    <li><a href="help.html">How We Help</a></li>
                                    <li><a href="career.html">Career</a></li>
                                </ul>
                            </li>
                            <li><a href="events.html">Events</a>
                                <ul>
                                    <li><a href="events.html">Upcoming Events</a></li>
                                    <li><a href="event-details.html">Events Details</a></li>
                                </ul>
                            </li>
                            <li><a href="causes.html">Causes</a>
                                <ul>
                                    <li><a href="causes.html">Our Causes</a></li>
                                    <li><a href="cause-single.html">Causes Details</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Pages</a>
                                <ul>
                                    <li><a href="service.html">Service</a></li>
                                    <li><a href="gallary.html">Gallary</a></li>
                                    <li><a href="volunteer.html">Volunteer</a></li>
                                    <li><a href="faq.html">Help &amp; Faq</a></li>
                                    <li><a href="error-404.html">404 Error</a></li>
                                </ul>
                            </li>
                            <li><a href="blog-classic.html">Blog</a>
                                <ul>
                                    <li><a href="blog-classic.html">Blog Classic</a></li>
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                    <li><a href="blog-single.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div><!-- /.header-menu-wrap -->
                    <div class="header-right">
                        <div class="search-icon dl-search-icon"><i class="ti-search"></i></div>
                        <a class="default-btn" href="cause-single.html">Donate Now<span></span></a>
                        <!-- Burger menu -->
                        <div class="mobile-menu-icon">
                            <div class="burger-menu">
                                <div class="line-menu line-half first-line"></div>
                                <div class="line-menu"></div>
                                <div class="line-menu line-half last-line"></div>
                            </div>
                        </div>
                    </div><!-- /.header-right -->
                </div><!-- /.primary-header-one-inner -->
            </div>
        </div><!-- /.primary-header-one -->
    </header><!-- /.header-one -->

    <div id="dl-popup-search-box">
        <div class="box-inner-wrap d-flex align-items-center">
            <form id="form" action="#" method="get" role="search">
                <input id="popup-search" type="text" name="s" placeholder="Type keywords here..." />
                <button id="popup-search-button" type="submit" name="submit"><i class="ti-search"></i></button>
            </form>
        </div>
    </div><!-- /#dl-popup-search-box -->

    <section class="page-header padding">
        <div class="overlay"></div>
        <div class="container">
            <div class="page-content text-center">
                <h2>Largest Global Community.</h2>
                <p>Charitable giving as a religious act or duty is referred to as alms. The name <br>stems from the most obvious expression of the virtue of charity.</p>
                <div class="page-item">
                    <a href="#"><i class="ti-home"></i>Home </a>
                    <p>Largest Global Community</p>
                </div>
            </div>
        </div>
    </section><!-- /.page-header -->

    <section class="about-section padding">
        <div class="container">
            <div class="about-wrap row d-flex align-items-center">
                <div class="col-md-6 sm-padding">
                    <div class="section-heading text-left">
                        <span class="sub-heading">About Charitian</span>
                        <h2>Together, We Make <br>A Difference!</h2>
                        <p>Charitable giving as a religious act or duty is referred to as alms. The name stems from the most obvious expression of the virtue of charity, giving the recipients of it the means they need to survive.</p>
                    </div><!-- /.section-heading -->
                    <a href="cause-single.html" class="default-btn">Make a donation<span></span></a>
                </div>
                <div class="col-md-6 sm-padding">
                    <div class="about-img">
                        <img src="assets/img/about-bg-1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section><!-- ./ about-section -->

    <section class="working-process bg-grey padding">
        <div class="container">
            <div class="work-wrap row">
                <div class="col-md-4 sm-padding">
                    <div class="work-content bd-right">
                        <h2>1</h2>
                        <div class="section-heading">
                            <h3>Our History</h3>
                            <p>Charitable giving as a religious act or duty is referred to as alms. The name stems from the most obvious expression.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 sm-padding">
                    <div class="work-content bd-right">
                        <h2>2</h2>
                        <div class="section-heading">
                            <h3>Our Mission</h3>
                            <p>Charitable giving as a religious act or duty is referred to as alms. The name stems from the most obvious expression.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 sm-padding">
                    <div class="work-content">
                        <h2>3</h2>
                        <div class="section-heading">
                            <h3>Community</h3>
                            <p>Charitable giving as a religious act or duty is referred to as alms. The name stems from the most obvious expression.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- ./ working-process -->

    <section class="counter-section padding">
        <div class="overlay"></div>
        <div class="container">
            <div class="counter-wrap row">
                <div class="col-lg-3 col-sm-6 sm-padding wow fadeInUp" data-wow-delay="200ms">
                    <div class="counter-item">
                        <div class="counter-content">
                            <i class="cht cht-blood-donation-1"></i>
                            <h3><span class="odometer" data-count="2,359">00</span></h3>
                            <h4>Fund Raised</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 sm-padding wow fadeInUp" data-wow-delay="300ms">
                    <div class="counter-item">
                        <div class="counter-content">
                            <i class="cht cht-donation-14"></i>
                            <h3><span class="odometer" data-count="1,175">00</span></h3>
                            <h4>Project Completed</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 sm-padding wow fadeInUp" data-wow-delay="400ms">
                    <div class="counter-item">
                        <div class="counter-content">
                            <i class="cht cht-donor"></i>
                            <h3><span class="odometer" data-count="1,519">00</span></h3>
                            <h4>Total Volunteer</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 sm-padding wow fadeInUp" data-wow-delay="500ms">
                    <div class="counter-item">
                        <div class="counter-content">
                            <i class="cht cht-charity-5"></i>
                            <h3><span class="odometer" data-count="2854">00</span></h3>
                            <h4>Helping Hands</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- ./ counter-section-2 -->

    <section class="service-section bg-grey padding">
        <div class="container">
            <div class="section-heading mb-40 text-center">
                <span class="sub-heading">What we do?</span>
                <h2>We Believe That We Can Save <br>More Lifes With You!</h2>
                <p>Giving is not just about making a donation. It’s about making a <br>difference one child, one life, one future at a time.</p>
            </div><!-- /.section-heading -->
            <div class="service-wrap row">
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="service-box text-center">
                        <span></span>
                        <div class="service-content">
                            <i class="cht cht-charity-1"></i>
                            <h3>Clean Water For Poor Children in Asia</h3>
                            <p>Volunteers do not have necessarily time they just have the heart.</p>
                            <a href="service.html" class="read-more">Read More</a>
                        </div>
                        <div class="service-icon">
                            <i class="cht cht-charity-1"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="service-box text-center">
                        <span></span>
                        <div class="service-content">
                            <i class="cht cht-donation-13"></i>
                            <h3>Help Us For Build a New Church</h3>
                            <p>Volunteers do not have necessarily time they just have the heart.</p>
                            <a href="service.html" class="read-more">Read More</a>
                        </div>
                        <div class="service-icon icon-2">
                            <i class="cht cht-donation-13"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="service-box text-center">
                        <span></span>
                        <div class="service-content">
                            <i class="cht cht-charity-6"></i>
                            <h3>Build School For Children in Africa</h3>
                            <p>Volunteers do not have necessarily time they just have the heart.</p>
                            <a href="service.html" class="read-more">Read More</a>
                        </div>
                        <div class="service-icon icon-3">
                            <i class="cht cht-charity-6"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="service-box text-center">
                        <span></span>
                        <div class="service-content">
                            <i class="cht cht-charity-12"></i>
                            <h3>Medical Facilities For People in Ghana</h3>
                            <p>Volunteers do not have necessarily time they just have the heart.</p>
                            <a href="service.html" class="read-more">Read More</a>
                        </div>
                        <div class="service-icon icon-4">
                            <i class="cht cht-charity-12"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- ./service-section -->

    <section class="team-section padding">
        <div class="container">
            <div class="section-heading mb-40 text-center">
                <span class="sub-heading">Rescue Heroes</span>
                <h2>Team Behind Goodsoul!</h2>
                <p>Giving is not just about making a donation. It’s about making a <br>difference one child, one life, one future at a time.</p>
            </div><!-- /.section-heading -->
            <div class="team-wrap row">
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="team-item">
                        <div class="team-thumb">
                            <img src="assets/img/team-img-1.jpg" alt="img">
                            <ul class="team-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content text-center">
                            <h3>Elizabete Helen</h3>
                            <span>Volunteer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="team-item">
                        <div class="team-thumb">
                            <img src="assets/img/team-img-2.jpg" alt="img">
                            <ul class="team-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content text-center">
                            <h3>Jérémie Ambroise</h3>
                            <span>Volunteer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="team-item">
                        <div class="team-thumb">
                            <img src="assets/img/team-img-3.jpg" alt="img">
                            <ul class="team-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content text-center">
                            <h3>Ana Luiza Oliveira</h3>
                            <span>Volunteer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="team-item">
                        <div class="team-thumb">
                            <img src="assets/img/team-img-4.jpg" alt="img">
                            <ul class="team-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content text-center">
                            <h3>Marcos Fernando</h3>
                            <span>Volunteer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- ./ team-secction -->

    <section class="cta-section-3">
        <div class="container">
            <div class="cta-wrap text-center">
                <div class="section-heading mb-40 text-center">
                    <span class="sub-heading">How We Help</span>
                    <h2>We Help Nonprofits Become <br>More Effective!</h2>
                    <p>Charitable giving as a religious act or duty is referred to as alms. The name <br>stems from the most obvious expression of the virtue of charity.</p>
                </div><!-- /.section-heading -->
                <a href="#" class="default-btn">Make a donation<span></span></a>
            </div>
        </div>
    </section><!-- ./ cta-section-3 -->

    <div class="sponsor-section">
        <div class="container">
            <div class="slider sponsor-carousel nav-style">
                <div class="sponsor-item">
                    <img src="assets/img/partner1.jpg" alt="sponsor">
                </div>
                <div class="sponsor-item">
                    <img src="assets/img/partner2.jpg" alt="sponsor">
                </div>
                <div class="sponsor-item">
                    <img src="assets/img/partner3.jpg" alt="sponsor">
                </div>
                <div class="sponsor-item">
                    <img src="assets/img/partner4.jpg" alt="sponsor">
                </div>
                <div class="sponsor-item">
                    <img src="assets/img/partner5.jpg" alt="sponsor">
                </div>
                <div class="sponsor-item">
                    <img src="assets/img/partner6.jpg" alt="sponsor">
                </div>
            </div>
        </div>
    </div><!-- ./ sponsor-section -->

    <section class="widget-section padding">
        <div class="container">
            <div class="widget-wrap row">
                <div class="col-lg-3 col-md-6 sm-padding sm-padding">
                    <div class="widget-box">
                        <img src="assets/img/logo-light.png" alt="img">
                        <p>Charitian non-profit organization dedicated to creating lasting impact through clean water, free education, healthcare, and community development.</p>
                        <ul class="widget-social">
                            <li class="facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="instagram"><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li class="twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="pinterest"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding sm-padding">
                    <div class="widget-box">
                        <div class="widget-title">
                            <h3>Latest Posts</h3>
                        </div>
                        <ul class="widget-item">
                            <li><a href="#">Placing Children at The Heart Of Social Accountability</a></li>
                            <li><a href="#">Cash Transfers in Africa Evidence On The Impact</a></li>
                            <li><a href="#">Children in Aleppo Go Back To a Safe Learning Environment</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding sm-padding">
                    <div class="widget-box pl-50">
                        <div class="widget-title">
                            <h3>About Us</h3>
                        </div>
                        <ul class="widget-item">
                            <li><a href="#">Who we are</a></li>
                            <li><a href="#">How We Help</a></li>
                            <li><a href="#">Help &amp; FaQ’s</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding sm-padding">
                    <div class="widget-box">
                        <div class="widget-title">
                            <h3>Headquaters</h3>
                        </div>
                        <ul class="widget-contact">
                            <li>
                                <i class="fas fa-map-marker-alt"></i>
                                <span>962 Fifth Avenue, 3rd Floor New York, NY10022</span>
                            </li>
                            <li>
                                <i class="fas fa-envelope"></i>
                                <span>hello@dynamiclayers.net</span>
                            </li>
                            <li>
                                <i class="fas fa-phone"></i>
                                <span>(+123) 456 789 101</span>
                            </li>
                            <li>
                                <i class="fas fa-fax"></i>
                                <span>817-383-3550</span>
                            </li>
                            <li>
                                <i class="fas fa-clock"></i>
                                <span>Mon - Sat: 9:00 - 18:00</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- ./ widget-section -->

    <footer class="footer-section text-center">
        <div class="container">
            <p>© Copyright <span id="currentYear"></span> ThemeEaster - All Rights Reserved</p>
        </div>
    </footer><!-- /.footer-section -->

    <div id="scrollup">
        <button id="scroll-top" class="scroll-to-top"><i class="ti-angle-up"></i></button>
    </div>

    <!-- jQuery Lib -->
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/waypoints.min.js"></script>
    <script src="assets/js/vendor/slick.min.js"></script>
    <script src="assets/js/vendor/jquery.smoothscroll.min.js"></script>
    <script src="assets/js/vendor/jquery.ajaxchimp.min.js"></script>
    <script src="assets/js/vendor/venobox.min.js"></script>
    <script src="assets/js/vendor/odometer.min.js"></script>
    <script src="assets/js/vendor/jquery.isotope.v3.0.2.js"></script>
    <script src="assets/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/vendor/wow.min.js"></script>
    <script src="assets/js/volunteer.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>
