<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="NonProfit Charity HTML Template">
    <meta name="author" content="ThemeEster">

    <title>Charitian | NonProfit Charity HTML Template</title>

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/elegant-line-icons.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/charitian-icons.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/slick.min.css">
    <link rel="stylesheet" href="assets/css/slider.css">
    <link rel="stylesheet" href="assets/css/venobox/venobox.css">
    <link rel="stylesheet" href="assets/css/odometer.min.css">
    <link rel="stylesheet" href="assets/css/main.css">

    <script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body class="header-1">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="site-preloader-wrap">
        <div class="spinner"></div>
    </div><!-- /.site-preloader-wrap -->

    <header class="header header-one">
        <div class="top-header-one top-bar">
            <div class="container">
                <div class="top-bar-inner">
                    <div class="top-left">
                        <ul>
                            <li>Call us Today: <a href="tel:+1234567890">+123 456 7890</a></li>
                            <li>Email: <a href="mailto:contact@email.com">email@eample.com</a></li>
                        </ul>
                    </div>
                    <div class="top-right">
                        <ul class="top-social">
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-pinterest"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- /.top-bar -->
        <div class="primary-header-one primary-header">
            <div class="container">
                <div class="primary-header-inner">
                    <div class="header-logo">
                        <a href="index.html">
                            <img src="assets/img/logo-dark.png" alt="Logo" />
                        </a>
                    </div><!-- /.header-logo -->
                    <div class="header-menu-wrap">
                        <ul class="dl-menu">
                            <li><a href="index.html">Home</a>
                                <ul>
                                    <li><a href="index.html">Home Default</a></li>
                                    <li><a href="index-2.html">Homep Fundraising</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html">About</a>
                                <ul>
                                    <li><a href="about.html">Who We Are</a></li>
                                    <li><a href="help.html">How We Help</a></li>
                                    <li><a href="career.html">Career</a></li>
                                </ul>
                            </li>
                            <li><a href="events.html">Events</a>
                                <ul>
                                    <li><a href="events.html">Upcoming Events</a></li>
                                    <li><a href="event-details.html">Events Details</a></li>
                                </ul>
                            </li>
                            <li><a href="causes.html">Causes</a>
                                <ul>
                                    <li><a href="causes.html">Our Causes</a></li>
                                    <li><a href="cause-single.html">Causes Details</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Pages</a>
                                <ul>
                                    <li><a href="service.html">Service</a></li>
                                    <li><a href="gallary.html">Gallary</a></li>
                                    <li><a href="volunteer.html">Volunteer</a></li>
                                    <li><a href="faq.html">Help &amp; Faq</a></li>
                                    <li><a href="error-404.html">404 Error</a></li>
                                </ul>
                            </li>
                            <li><a href="blog-classic.html">Blog</a>
                                <ul>
                                    <li><a href="blog-classic.html">Blog Classic</a></li>
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                    <li><a href="blog-single.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div><!-- /.header-menu-wrap -->
                    <div class="header-right">
                        <div class="search-icon dl-search-icon"><i class="ti-search"></i></div>
                        <a class="default-btn" href="cause-single.html">Donate Now<span></span></a>
                        <!-- Burger menu -->
                        <div class="mobile-menu-icon">
                            <div class="burger-menu">
                                <div class="line-menu line-half first-line"></div>
                                <div class="line-menu"></div>
                                <div class="line-menu line-half last-line"></div>
                            </div>
                        </div>
                    </div><!-- /.header-right -->
                </div><!-- /.primary-header-one-inner -->
            </div>
        </div><!-- /.primary-header-one -->
    </header><!-- /.header-one -->

    <div id="dl-popup-search-box">
        <div class="box-inner-wrap d-flex align-items-center">
            <form id="form" action="#" method="get" role="search">
                <input id="popup-search" type="text" name="s" placeholder="Type keywords here..." />
                <button id="popup-search-button" type="submit" name="submit"><i class="ti-search"></i></button>
            </form>
        </div>
    </div><!-- /#dl-popup-search-box -->

    <div id="main-slider" class="dl-slider">
        <div class="single-slide">
            <div class="bg-img kenburns-top-right" style="background-image: url(assets/img/slider-bg-1.jpg);"></div>
            <div class="overlay"></div>
            <div class="slider-content-wrap d-flex align-items-center text-left">
                <div class="container">
                    <div class="slider-content">
                        <div class="dl-caption medium">
                            <div class="inner-layer">
                                <div data-animation="fade-in-bottom" data-delay="1s">Help the people in need!</div>
                            </div>
                        </div>
                        <div class="dl-caption big">
                            <div class="inner-layer">
                                <div data-animation="fade-in-bottom" data-delay="1.5s">Your Small Help <br>Make World Better</div>
                            </div>
                        </div>
                        <div class="dl-caption small">
                            <div class="inner-layer">
                                <div data-animation="fade-in-bottom" data-delay="2s">Giving is not just about making a donation. It’s about making a <br>difference one child, one life, one future at a time.</div>
                            </div>
                        </div>
                        <div class="dl-btn-group">
                            <div class="inner-layer">
                                <a href="cause-single.html" class="default-btn" data-animation="fade-in-bottom" data-delay="2.5s">Make a donation<span></span><i class="arrow_right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Slide-1-->
        <div class="single-slide">
            <div class="bg-img kenburns-top-right" style="background-image: url(assets/img/slider-bg-2.jpg);"></div>
            <div class="overlay"></div>
            <div class="slider-content-wrap d-flex align-items-center text-left">
                <div class="container">
                    <div class="slider-content">
                        <div class="dl-caption medium">
                            <div class="inner-layer">
                                <div data-animation="fade-in-bottom" data-delay="1s">Help the people in need!</div>
                            </div>
                        </div>
                        <div class="dl-caption big">
                            <div class="inner-layer">
                                <div data-animation="fade-in-bottom" data-delay="1.5s">Your Small Help <br>Make World Better</div>
                            </div>
                        </div>
                        <div class="dl-caption small">
                            <div class="inner-layer">
                                <div data-animation="fade-in-bottom" data-delay="2s">Giving is not just about making a donation. It’s about making a <br>difference one child, one life, one future at a time.</div>
                            </div>
                        </div>
                        <div class="dl-btn-group">
                            <div class="inner-layer">
                                <a href="cause-single.html" class="default-btn" data-animation="fade-in-bottom" data-delay="2.5s">Make a donation<span></span><i class="arrow_right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Slide-2-->
        <div class="single-slide">
            <div class="bg-img kenburns-top-right" style="background-image: url(assets/img/slider-bg-3.jpg);"></div>
            <div class="overlay"></div>
            <div class="slider-content-wrap d-flex align-items-center text-left">
                <div class="container">
                    <div class="slider-content">
                        <div class="dl-caption medium">
                            <div class="inner-layer">
                                <div data-animation="fade-in-bottom" data-delay="1s">Help the people in need!</div>
                            </div>
                        </div>
                        <div class="dl-caption big">
                            <div class="inner-layer">
                                <div data-animation="fade-in-bottom" data-delay="1.5s">Your Small Help <br>Make World Better</div>
                            </div>
                        </div>
                        <div class="dl-caption small">
                            <div class="inner-layer">
                                <div data-animation="fade-in-bottom" data-delay="2s">Giving is not just about making a donation. It’s about making a <br>difference one child, one life, one future at a time.</div>
                            </div>
                        </div>
                        <div class="dl-btn-group">
                            <div class="inner-layer">
                                <a href="cause-single.html" class="default-btn" data-animation="fade-in-bottom" data-delay="2.5s">Make a donation<span></span><i class="arrow_right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Slide-3-->
    </div><!-- slider-section -->

    <section class="about-section padding">
        <div class="container">
            <div class="about-wrap row d-flex align-items-center">
                <div class="col-md-6 sm-padding">
                    <div class="section-heading text-left">
                        <span class="sub-heading">About Charitian</span>
                        <h2>Together, We Make <br>A Difference!</h2>
                        <p>Charitable giving as a religious act or duty is referred to as alms. The name stems from the most obvious expression of the virtue of charity, giving the recipients of it the means they need to survive.</p>
                    </div><!-- /.section-heading -->
                    <a href="cause-single.html" class="default-btn">Make a donation<span></span></a>
                </div>
                <div class="col-md-6 sm-padding">
                    <div class="about-img">
                        <img src="assets/img/about-bg-1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section><!-- ./ about-section -->

    <section class="donate-section padding bg-grey">
        <div class="container">
            <div class="section-heading mb-40 text-center">
                <span class="sub-heading">Recent Campaigns!</span>
                <h2>Fundraising For The People And <br>Causes You Care About!</h2>
                <p>Giving is not just about making a donation. It’s about making a <br>difference one child, one life, one future at a time.</p>
            </div><!-- /.section-heading -->
            <div class="donate-wrap row">
                <div class="col-lg-4 col-md-6 sm-padding">
                    <div class="donate-box">
                        <div class="donate-img">
                            <img src="assets/img/post-1.jpg" alt="donate">
                            <div class="donate-btn">
                                <a href="cause-single.html">Donate Now</a>
                            </div>
                            <div class="progress">
                                <div class="progress-bar wow slideInLeft" data-wow-delay="0ms" data-wow-duration="2000ms" role="progressbar" style="width: 89%;">
                                    <span>89%</span>
                                </div>
                            </div>
                        </div>
                        <div class="donate-content">
                            <span>Water</span>
                            <a href="cause-single.html">
                                <h3>Water for Life</h3>
                            </a>
                            <p>Giving is not just about making a donation. It’s about making a difference one child, one life, one future at a time.</p>
                            <ul class="donate-list">
                                <li><i class="ti-bar-chart"></i>Goal: $450,000</li>
                                <li><i class="ti-thumb-up"></i>Raised: $401,960</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 sm-padding">
                    <div class="donate-box">
                        <div class="donate-img">
                            <img src="assets/img/post-2.jpg" alt="donate">
                            <div class="donate-btn">
                                <a href="cause-single.html">Donate Now</a>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bar-2 wow slideInLeft" data-wow-delay="0ms" data-wow-duration="2000ms" role="progressbar" style="width: 80%;">
                                    <span>80%</span>
                                </div>
                            </div>
                        </div>
                        <div class="donate-content">
                            <span>Sanitation</span>
                            <a href="cause-single.html">
                                <h3>School Construction</h3>
                            </a>
                            <p>Giving is not just about making a donation. It’s about making a difference one child, one life, one future at a time.</p>
                            <ul class="donate-list">
                                <li><i class="ti-bar-chart"></i>Goal: $250,000</li>
                                <li><i class="ti-thumb-up"></i>Raised: $201,960</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 sm-padding">
                    <div class="donate-box">
                        <div class="donate-img">
                            <img src="assets/img/post-3.jpg" alt="donate">
                            <div class="donate-btn">
                                <a href="cause-single.html">Donate Now</a>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bar-3 wow slideInLeft" data-wow-delay="0ms" data-wow-duration="2000ms" role="progressbar" style="width: 58%;">
                                    <span>58%</span>
                                </div>
                            </div>
                        </div>
                        <div class="donate-content">
                            <span>Education</span>
                            <a href="cause-single.html">
                                <h3>General Healthcare</h3>
                            </a>
                            <p>Giving is not just about making a donation. It’s about making a difference one child, one life, one future at a time.</p>
                            <ul class="donate-list">
                                <li><i class="ti-bar-chart"></i>Goal: $550,000</li>
                                <li><i class="ti-thumb-up"></i>Raised: $320,960</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- ./ donate-section -->

    <section class="video-section bd-bottom">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-6 custom">
                    <div class="video-btn text-center">
                        <div class="play-btn">
                            <a href="https://www.youtube.com/watch?v=RQu7jpcNUWI" class="img-popup" data-autoplay="true" data-vbtype="video"><i class="fas fa-play"></i></a>
                            <div class="ripple"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 no-padding">
                    <div class="video-wrap">
                        <div class="section-heading mb-40">
                            <span class="sub-heading">Watch Video</span>
                            <h2>Over 2.5 Billion People <br>Lack Safe Drinking <br>Clean Water!</h2>
                            <p>Every child deserves a chance to grow, learn, and dream. But for millions of children around the world, poverty is a daily reality that robs them of opportunities most of us take for granted. Today, you have the power to make a difference. Children living in poverty face hunger, lack of clean water, limited access</p>
                        </div><!-- /.section-heading -->
                        <a href="cause-single.html" class="default-btn">Make a donation <span></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- ./ video-secion -->

    <section class="service-section bg-grey padding">
        <div class="container">
            <div class="section-heading mb-40 text-center">
                <span class="sub-heading">What we do?</span>
                <h2>We Believe That We Can Save <br>More Lifes With You!</h2>
                <p>Giving is not just about making a donation. It’s about making a <br>difference one child, one life, one future at a time.</p>
            </div><!-- /.section-heading -->
            <div class="service-wrap row">
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="service-box text-center">
                        <span></span>
                        <div class="service-content">
                            <i class="cht cht-charity-1"></i>
                            <h3>Clean Water For Poor Children in Asia</h3>
                            <p>Volunteers do not have necessarily time they just have the heart.</p>
                            <a href="service.html" class="read-more">Read More</a>
                        </div>
                        <div class="service-icon">
                            <i class="cht cht-charity-1"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="service-box text-center">
                        <span></span>
                        <div class="service-content">
                            <i class="cht cht-donation-13"></i>
                            <h3>Help Us For Build a New Church</h3>
                            <p>Volunteers do not have necessarily time they just have the heart.</p>
                            <a href="service.html" class="read-more">Read More</a>
                        </div>
                        <div class="service-icon icon-2">
                            <i class="cht cht-donation-13"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="service-box text-center">
                        <span></span>
                        <div class="service-content">
                            <i class="cht cht-charity-6"></i>
                            <h3>Build School For Children in Africa</h3>
                            <p>Volunteers do not have necessarily time they just have the heart.</p>
                            <a href="service.html" class="read-more">Read More</a>
                        </div>
                        <div class="service-icon icon-3">
                            <i class="cht cht-charity-6"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="service-box text-center">
                        <span></span>
                        <div class="service-content">
                            <i class="cht cht-charity-12"></i>
                            <h3>Medical Facilities For People in Ghana</h3>
                            <p>Volunteers do not have necessarily time they just have the heart.</p>
                            <a href="service.html" class="read-more">Read More</a>
                        </div>
                        <div class="service-icon icon-4">
                            <i class="cht cht-charity-12"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- ./service-section -->

    <section class="team-section padding">
        <div class="container">
            <div class="section-heading mb-40 text-center">
                <span class="sub-heading">Rescue Heroes</span>
                <h2>Team Behind Goodsoul!</h2>
                <p>Giving is not just about making a donation. It’s about making a <br>difference one child, one life, one future at a time.</p>
            </div><!-- /.section-heading -->
            <div class="team-wrap row">
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="team-item">
                        <div class="team-thumb">
                            <img src="assets/img/team-img-1.jpg" alt="img">
                            <ul class="team-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content text-center">
                            <h3>Elizabete Helen</h3>
                            <span>Volunteer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="team-item">
                        <div class="team-thumb">
                            <img src="assets/img/team-img-2.jpg" alt="img">
                            <ul class="team-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content text-center">
                            <h3>Jérémie Ambroise</h3>
                            <span>Volunteer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="team-item">
                        <div class="team-thumb">
                            <img src="assets/img/team-img-3.jpg" alt="img">
                            <ul class="team-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content text-center">
                            <h3>Ana Luiza Oliveira</h3>
                            <span>Volunteer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding">
                    <div class="team-item">
                        <div class="team-thumb">
                            <img src="assets/img/team-img-4.jpg" alt="img">
                            <ul class="team-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content text-center">
                            <h3>Marcos Fernando</h3>
                            <span>Volunteer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- ./ team-secction -->

    <section class="cta-section bd-bottom">
        <div class="overlay"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 sm-padding">
                    <div class="cta-content">
                        <div class="section-heading text-left">
                            <span class="sub-heading">Join With Us</span>
                            <h2>Because Every <br>Life Matters!</h2>
                            <p>Charitable giving as a religious act or duty is referred to as alms. The name stems from the most obvious expression of the virtue of charity, giving the recipients of it the means they need to survive.</p>
                        </div><!-- /.section-heading -->
                        <a href="#" class="default-btn">Donate Now</a>
                    </div>
                </div>
                <div class="col-md-6 sm-padding">
                    <form action="volunteer.php" method="post" id="volunteer-form" class="form-horizontal appointment-form">
                        <div class="section-heading">
                            <span>Join Us Now</span>
                            <h3>Become A Volunteer</h3>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <input type="text" id="volunteer-form-name" name="volunteer-name" class="form-control" placeholder="Your Name" required>
                            </div>
                            <div class="col-sm-6">
                                <input type="email" id="volunteer-email" name="volunteer-email" class="form-control" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <input type="text" id="volunteer-phone" name="volunteer-phone" class="form-control" placeholder="Phone No" required>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" id="volunteer-address" name="volunteer-address" class="form-control" placeholder="Your address" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <textarea id="volunteer-message" name="volunteer-message" cols="30" rows="5" class="form-control message" placeholder="Message" required=""></textarea>
                            </div>
                        </div>
                        <button id="volunteer-submit" class="default-btn" type="submit">Become A Volunteer <span></span></button>
                        <div id="volunteer-form-messages" class="alert" role="alert"></div>
                    </form>
                </div>
            </div>
        </div>
    </section><!-- ./ cta-section -->

    <section class="event-section padding">
        <div class="container">
            <div class="section-heading mb-40 text-center">
                <span class="sub-heading">Events</span>
                <h2>Upcoming Events</h2>
                <p>Giving is not just about making a donation. It’s about making a <br>difference one child, one life, one future at a time.</p>
            </div><!-- /.section-heading -->
            <div class="slider event-carousel nav-style carousel-dots">
                <div class="event-item">
                    <div class="event-thumb">
                        <img src="assets/img/post-1.jpg" alt="event">
                        <div class="date">
                            <h3>28<span>Jan</span></h3>
                        </div>
                    </div>
                    <div class="event-content text-center">
                        <a href="event-details.html">
                            <h3>Water for Life</h3>
                        </a>
                        <ul class="event-list">
                            <li><i class="fas fa-clock"></i>10:00 AM</li>
                            <li><i class="fas fa-map-marker-alt"></i>New Work</li>
                        </ul>
                    </div>
                </div>
                <div class="event-item">
                    <div class="event-thumb">
                        <img src="assets/img/post-2.jpg" alt="event">
                        <div class="date">
                            <h3>28<span>sep</span></h3>
                        </div>
                    </div>
                    <div class="event-content text-center">
                        <a href="event-details.html">
                            <h3>School Construction</h3>
                        </a>
                        <ul class="event-list">
                            <li><i class="fas fa-clock"></i>09:00 AM</li>
                            <li><i class="fas fa-map-marker-alt"></i>New Work</li>
                        </ul>
                    </div>
                </div>
                <div class="event-item">
                    <div class="event-thumb">
                        <img src="assets/img/post-3.jpg" alt="event">
                        <div class="date">
                            <h3>28<span>Feb</span></h3>
                        </div>
                    </div>
                    <div class="event-content text-center">
                        <a href="event-details.html">
                            <h3>General Healthcare</h3>
                        </a>
                        <ul class="event-list">
                            <li><i class="fas fa-clock"></i>11:00 AM</li>
                            <li><i class="fas fa-map-marker-alt"></i>New Work</li>
                        </ul>
                    </div>
                </div>
                <div class="event-item">
                    <div class="event-thumb">
                        <img src="assets/img/post-4.jpg" alt="event">
                        <div class="date">
                            <h3>28<span>Jun</span></h3>
                        </div>
                    </div>
                    <div class="event-content text-center">
                        <a href="event-details.html">
                            <h3>Medical Equipment</h3>
                        </a>
                        <ul class="event-list">
                            <li><i class="fas fa-clock"></i>12:00 AM</li>
                            <li><i class="fas fa-map-marker-alt"></i>New Work</li>
                        </ul>
                    </div>
                </div>
                <div class="event-item">
                    <div class="event-thumb">
                        <img src="assets/img/post-5.jpg" alt="event">
                        <div class="date">
                            <h3>28<span>Aug</span></h3>
                        </div>
                    </div>
                    <div class="event-content text-center">
                        <a href="event-details.html">
                            <h3>Hunger &amp; Relief</h3>
                        </a>
                        <ul class="event-list">
                            <li><i class="fas fa-clock"></i>01:00 AM</li>
                            <li><i class="fas fa-map-marker-alt"></i>New Work</li>
                        </ul>
                    </div>
                </div>
                <div class="event-item">
                    <div class="event-thumb">
                        <img src="assets/img/post-6.jpg" alt="event">
                        <div class="date">
                            <h3>28<span>Mar</span></h3>
                        </div>
                    </div>
                    <div class="event-content text-center">
                        <a href="event-details.html">
                            <h3>Education Support</h3>
                        </a>
                        <ul class="event-list">
                            <li><i class="fas fa-clock"></i>08:00 AM</li>
                            <li><i class="fas fa-map-marker-alt"></i>New Work</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- ./ event-section -->

    <section class="testimonials-section bg-grey padding">
        <div class="container">
            <div class="section-heading mb-40 text-center">
                <span class="sub-heading">Clients Testimonial</span>
                <h2>What Donors Say?</h2>
                <p>Giving is not just about making a donation. It’s about making a <br>difference one child, one life, one future at a time.</p>
            </div><!-- /.section-heading -->
            <div class="slider testimonials-carousel nav-style carousel-dots">
                <div class="testi-item">
                    <div class="testi-content">
                        <p>"Remember, if you ever need a helping hand, you’ll find one at the end of your arm. As you grow older, you will discover that you have two hands: one for helping yourself, the other for helping others."</p>
                    </div>
                    <div class="testi-info">
                        <img src="assets/img/testi-1.png" alt="thumb">
                        <h3>Kyle Frederick<span>Envato.Inc</span></h3>
                    </div>
                </div>
                <div class="testi-item">
                    <div class="testi-content">
                        <p>"Remember, if you ever need a helping hand, you’ll find one at the end of your arm. As you grow older, you will discover that you have two hands: one for helping yourself, the other for helping others."</p>
                    </div>
                    <div class="testi-info">
                        <img src="assets/img/testi-2.png" alt="thumb">
                        <h3>Jérémie Ambroise<span>Charitian.Ceo</span></h3>
                    </div>
                </div>
                <div class="testi-item">
                    <div class="testi-content">
                        <p>"Remember, if you ever need a helping hand, you’ll find one at the end of your arm. As you grow older, you will discover that you have two hands: one for helping yourself, the other for helping others."</p>
                    </div>
                    <div class="testi-info">
                        <img src="assets/img/testi-3.png" alt="thumb">
                        <h3>Ana Luiza Oliveira<span>Themeforest.Ceo</span></h3>
                    </div>
                </div>
                <div class="testi-item">
                    <div class="testi-content">
                        <p>"Remember, if you ever need a helping hand, you’ll find one at the end of your arm. As you grow older, you will discover that you have two hands: one for helping yourself, the other for helping others."</p>
                    </div>
                    <div class="testi-info">
                        <img src="assets/img/testi-4.png" alt="thumb">
                        <h3>Marcos Fernando<span>Facebook.Org</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-section padding">
        <div class="container">
            <div class="section-heading mb-40 text-center">
                <span class="sub-heading">Latest Stories</span>
                <h2>Some Of Our <br>Recent Stories</h2>
                <p>Charitable giving as a religious act or duty is referred to as alms. The name <br>stems from the most obvious expression of the virtue of charity.</p>
            </div><!-- /.section-heading -->
            <div class="blog-wrap row">
                <div class="col-lg-4 col-md-6 sm-padding">
                    <div class="blog-item">
                        <div class="blog-thumb">
                            <img src="assets/img/post-1.jpg" alt="post">
                            <span class="category"><a href="blog-single.html">Clean Water</a></span>
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-single.html">Placing Children at The Heart Of Social Accou...</a></h3>
                            <p>Approximately 1.6 million Africans died of malaria, tuberculosis and HIV-related illnesses in 2015. These...</p>
                            <a href="blog-single.html" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 sm-padding">
                    <div class="blog-item">
                        <div class="blog-thumb">
                            <img src="assets/img/post-2.jpg" alt="post">
                            <span class="category"><a href="blog-single.html">Development</a></span>
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-single.html">Cash Transfers in Africa Evidence On The Impa...</a></h3>
                            <p>Approximately 1.6 million Africans died of malaria, tuberculosis and HIV-related illnesses in 2015. These...</p>
                            <a href="blog-single.html" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 sm-padding">
                    <div class="blog-item">
                        <div class="blog-thumb">
                            <img src="assets/img/post-3.jpg" alt="post">
                            <span class="category"><a href="blog-single.html">Development</a></span>
                        </div>
                        <div class="blog-content">
                            <h3><a href="blog-single.html">Children in Aleppo Go Back To a Safe Learning...</a></h3>
                            <p>Approximately 1.6 million Africans died of malaria, tuberculosis and HIV-related illnesses in 2015. These...</p>
                            <a href="blog-single.html" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- ./ blog-section -->

    <section class="subscribe-section bd-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="subscribe-wrap">
                        <div class="sub-bg"></div>
                        <div class="child"></div>
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="section-heading">
                                    <h2>Newsletter Subscription</h2>
                                    <p>Subscribe and get 10% off from <br>our charitian company.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="subscribe-form-wrap">
                                    <form action="#" class="subscribe-form">
                                        <input type="email" name="email" class="form-input" placeholder="Enter Your Email Address..." required="">
                                        <input type="hidden" name="action" value="mailchimpsubscribe">
                                        <button class="submit-btn">Subscription</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- ./ subscribe-section -->

    <section class="widget-section padding">
        <div class="container">
            <div class="widget-wrap row">
                <div class="col-lg-3 col-md-6 sm-padding sm-padding">
                    <div class="widget-box">
                        <img src="assets/img/logo-light.png" alt="img">
                        <p>Charitian non-profit organization dedicated to creating lasting impact through clean water, free education, healthcare, and community development.</p>
                        <ul class="widget-social">
                            <li class="facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="instagram"><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li class="twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="pinterest"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding sm-padding">
                    <div class="widget-box">
                        <div class="widget-title">
                            <h3>Latest Posts</h3>
                        </div>
                        <ul class="widget-item">
                            <li><a href="#">Placing Children at The Heart Of Social Accountability</a></li>
                            <li><a href="#">Cash Transfers in Africa Evidence On The Impact</a></li>
                            <li><a href="#">Children in Aleppo Go Back To a Safe Learning Environment</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding sm-padding">
                    <div class="widget-box pl-50">
                        <div class="widget-title">
                            <h3>About Us</h3>
                        </div>
                        <ul class="widget-item">
                            <li><a href="#">Who we are</a></li>
                            <li><a href="#">How We Help</a></li>
                            <li><a href="#">Help &amp; FaQ’s</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-padding sm-padding">
                    <div class="widget-box">
                        <div class="widget-title">
                            <h3>Headquaters</h3>
                        </div>
                        <ul class="widget-contact">
                            <li>
                                <i class="fas fa-map-marker-alt"></i>
                                <span>962 Fifth Avenue, 3rd Floor New York, NY10022</span>
                            </li>
                            <li>
                                <i class="fas fa-envelope"></i>
                                <span>hello@dynamiclayers.net</span>
                            </li>
                            <li>
                                <i class="fas fa-phone"></i>
                                <span>(+123) 456 789 101</span>
                            </li>
                            <li>
                                <i class="fas fa-fax"></i>
                                <span>817-383-3550</span>
                            </li>
                            <li>
                                <i class="fas fa-clock"></i>
                                <span>Mon - Sat: 9:00 - 18:00</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- ./ widget-section -->

    <footer class="footer-section text-center">
        <div class="container">
            <p>© Copyright <span id="currentYear"></span> ThemeEaster - All Rights Reserved</p>
        </div>
    </footer><!-- /.footer-section -->

    <div id="scrollup">
        <button id="scroll-top" class="scroll-to-top"><i class="ti-angle-up"></i></button>
    </div>

    <!-- jQuery Lib -->
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/waypoints.min.js"></script>
    <script src="assets/js/vendor/slick.min.js"></script>
    <script src="assets/js/vendor/jquery.smoothscroll.min.js"></script>
    <script src="assets/js/vendor/jquery.ajaxchimp.min.js"></script>
    <script src="assets/js/vendor/venobox.min.js"></script>
    <script src="assets/js/vendor/odometer.min.js"></script>
    <script src="assets/js/vendor/jquery.isotope.v3.0.2.js"></script>
    <script src="assets/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/vendor/wow.min.js"></script>
    <script src="assets/js/volunteer.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>
